<!--Agregar tarea-->
<p>
  <a
    class="btn btn-secondary"
    data-bs-toggle="collapse"
    href="#collapseExample"
    role="button"
    aria-expanded="false"
    aria-controls="collapseExample"
  >
    Agregar tarea
  </a>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <form (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="titulo" class="form-label">Título</label>
        <input
          type="email"
          class="form-control"
          id="titulo"
          name="titulo"
          autocomplete="off"
          placeholder="tarea"
          [(ngModel)]="titulo"
          required
        />
      </div>
      <div class="mb-3">
        <label for="minutos" class="form-label">Minutos</label>
        <input
          type="number"
          class="form-control"
          id="minutos"
          name="minutos"
          placeholder="0"
          [(ngModel)]="minutos"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary mb-3">Guardar</button>
    </form>
  </div>

</div>
<br>
<!--Tabla-->
<div>
    <div style="float: left; width: 100%">
      <ngx-datatable
        style="width: 90%"
        class="material"
        [rows]="tareas"
        [columnMode]="ColumnMode.force"
        [headerHeight]="50"
        [footerHeight]="50"
        rowHeight="auto"
        [limit]="10"
      >
        <ngx-datatable-column
          name="Titulo"
          [sortable]="false"
        ></ngx-datatable-column>
        <ngx-datatable-column
          name="Minutos"
          [sortable]="false"
        ></ngx-datatable-column>
      </ngx-datatable>
    </div>
</div>