<!--Agregar tarea-->
<p>
  <a
    class="btn btn-secondary"
    data-bs-toggle="collapse"
    href="#collapseExample"
    role="button"
    aria-expanded="false"
    aria-controls="collapseExample"
  >
    Agregar tarea
  </a>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <form (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="titulo" class="form-label">Título</label>
        <input
          type="email"
          class="form-control"
          id="titulo"
          name="titulo"
          autocomplete="off"
          placeholder="tarea"
          [(ngModel)]="titulo"
          required
        />
      </div>
      <div class="mb-3">
        <label for="minutos" class="form-label">Minutos</label>
        <input
          type="number"
          class="form-control"
          id="minutos"
          name="minutos"
          placeholder="0"
          [(ngModel)]="minutos"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary mb-3">Guardar</button>
    </form>
  </div>

</div>
<br>
<!--Tabla-->
<div>
  <div style="float: left; width: 75%">
    <ngx-datatable
      style="width: 90%"
      class="material"
      [rows]="tareas"
      [columnMode]="ColumnMode.force"
      [headerHeight]="50"
      [footerHeight]="50"
      rowHeight="auto"
      [limit]="10"
      [selected]="selected"
      [selectionType]="SelectionType.multiClick"
      (activate)="onActivate($event)"
      (select)="onSelect($event)"
    >
      <ngx-datatable-column
        name="Titulo"
        [sortable]="false"
      ></ngx-datatable-column>
      <ngx-datatable-column
        name="Minutos"
        [sortable]="false"
      ></ngx-datatable-column>
    </ngx-datatable>

  
  </div>
  <!--Acciones-->
  <h4>Acciones:</h4>
  <div class="text-center ">
      <button  type="button" class="btn btn-outline-danger" (click)="eliminar()">Eliminar</button>
  </div>
  <!-- Listado de seleccion -->
  <div class="selected-column">
    <br>
    <h4>
      Tareas seleccionadas: <small>({{ selected?.length }})</small>
    </h4>
    <ul>
      <li *ngFor="let sel of selected">
        {{ sel.titulo }}
      </li>
      <li *ngIf="!selected?.length">No hay tareas seleccionadas</li>
    </ul>
  </div>
</div>