//Librerias de ngx
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';

/* You can add global styles to this file, and also import other style files */
* {
    font-family: Arial, Helvetica, sans-serif;
}

.ngx-datatable.material.single-selection .datatable-body-row.active:hover, .ngx-datatable.material.single-selection 
.datatable-body-row.active:hover .datatable-row-group, .ngx-datatable.material.multi-selection 
.datatable-body-row.active:hover, .ngx-datatable.material.multi-selection .datatable-body-row.active:hover 
.datatable-row-group, .ngx-datatable.material.multi-click-selection .datatable-body-row.active:hover, .ngx-datatable.material.multi-click-selection 
.datatable-body-row.active:hover .datatable-row-group {
    background-color: rgb(179, 179, 179);
    color: #fff;
}

.ngx-datatable.material.single-selection .datatable-body-row.active, .ngx-datatable.material.single-selection 
.datatable-body-row.active.datatable-body-row.active .datatable-row-group, .ngx-datatable.material.multi-selection 
.datatable-body-row.active, .ngx-datatable.material.multi-selection .datatable-body-row.active .datatable-row-group, 
.ngx-datatable.material.multi-click-selection .datatable-body-row.active, .ngx-datatable.material.multi-click-selection 
.datatable-body-row.active .datatable-row-group {
    background-color: rgb(100, 115, 253);
    color: #fff;
}